service firebase.storage {
  match /b/{bucket}/o {
    match /posts/{userID}/{allPaths=**} {
      allow write: if isUserAuthenticated(userID);
      allow read: if true; 
    }

    match /users/{userID}/{allPaths=**} {
      allow write: if isUserAuthenticated(userID);
      allow read: if true;
    }

    function isAnyAuthenticated() {
      return request.auth != null;
    }
    
    function isUserAuthenticated(userID) {
      return isAnyAuthenticated() && userID == request.auth.uid;
    }
  }

}
